In [2]:
library("nycflights13")
library("tidyverse")
library(scales)
flights <- nycflights13::flights
summary(flights)
colnames(flights)
dim(flights)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.1.1     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: 'scales'


The following object is masked from 'package:purrr':

    discard


The following object is masked from 'package:readr':

    col_factor

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:22:54
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

[1] 336776     19

1.a

In [ ]:
arr2 <- filter(flights,arr_delay >= 120)
head(arr2,5)

1.b

In [ ]:
houston <- filter(flights,dest == c('IAH','HOU'))
head(houston,5)

1.c

In [ ]:
airlines
operated <- filter(flights,carrier ==c('AA' ,'DL', 'UA'))
head(operated,5)

1.d

In [ ]:
summer <- filter(flights,month ==c(7,8,9))
head(summer,5)

1.e

In [ ]:
late_arr <- filter(flights , arr_delay > 120 , dep_delay == 0)
head(late_arr,5)

1.f

In [ ]:
Dep60<-flights %>%
  filter(arr_delay == dep_delay - 30) %>%
  filter(dep_delay > 120)
head(Dep60,5)

2.a  How many flights have a missing dep_time?

In [25]:
sum(is.na(flights$dep_time))

print(paste0(sum(is.na(flights$dep_time))," ","flights with missing departure time"))

[1] 8255

[1] "8255 flights with missing variable"

2.b
What other variables are missing? What might these rows represent?

In [42]:
names(which(colSums(is.na(flights)) > 0))

print("these variables might have missing values as the fligt data does not exist to rescheduling or cancelled flights")

[1] "dep_time"  "dep_delay" "arr_time"  "arr_delay" "tailnum"   "air_time"

[1] "these variables might have missing values as the fligt data does not exist to rescheduling or cancelled flights"

3

In [46]:
first_NA <- arrange(flights,desc(is.na(flights)))
head(first_NA,5)
tail(first_NA,3)
print("arrange can be used to sort out data. Arrange forces NA values to buttom regardless of order but we solve this by using is.na function and sorting are data in desc order using desc argument")

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     2   NA       1545           NA        NA       1910
2 2013 1     2   NA       1601           NA        NA       1735
3 2013 1     3   NA        857           NA        NA       1209
4 2013 1     3   NA        645           NA        NA        952
5 2013 1     4   NA        845           NA        NA       1015
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        AA       133   NA      JFK    LAX  NA       2475     15   45
2 NA        UA       623   NA      EWR    ORD  NA        719     16    1
3 NA        UA       714   NA      EWR    MIA  NA       1085      8   57
4 NA        UA       719   NA      EWR    DFW  NA       1372      6   45
5 NA        9E      3405   NA      JFK    DCA  NA        213      8   45
  time_hour
1 2013-01-02 15:00:00
2 2013-01-02 16:00:00
3 2013-01-03 08:00:00
4 2013-01-03 06:00:00
5 2013-01-04 08:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  2241     2246            -5       2345        1
2 2013 9     30  2307     2255            12       2359     2358
3 2013 9     30  2349     2359           -10        325      350
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -16       B6      486    N346JB  JFK    ROC   47       264     22   46
2   1       B6      718    N565JB  JFK    BOS   33       187     22   55
3 -25       B6      745    N516JB  JFK    PSE  196      1617     23   59
  time_hour
1 2013-09-30 22:00:00
2 2013-09-30 22:00:00
3 2013-09-30 23:00:00

[1] "arrange can be used to sort out data. Arrange forces NA values to buttom regardless of order but we solve this by using is.na and sorting are data in desc order using desc arguments"

4

In [49]:
quickflight <- mutate(flights,fast = distance/air_time)

fastest <- select(quickflight, fast,carrier,air_time,flight)
fastest%>%
arrange(desc(fast))%>%
head(10)

print("as fastest would be the covered distance in shortest amount of time it makes taking the ratio of distance by air time which represents data in column fast in terms of miles per minute")

   fast      carrier air_time flight
1  11.723077 DL       65      1499
2  10.838710 EV       93      4667
3  10.800000 EV       55      4292
4  10.685714 EV       70      3805
5   9.857143 DL      105      1902
6   9.400000 DL      170       315
7   9.290698 B6      172       707
8   9.274286 AA      175       936
9   9.236994 DL      173       347
10  9.236994 B6      173      1503

[1] "as fastest would be the covered distance in shortest amount of time it makes taking the ratio of distance by air time which represents data in column fast in terms of miles per minute"

5

In [50]:
longest<- filter(flights,air_time == max(air_time, na.rm= T))
shortest <-filter(flights,air_time == min(air_time, na.rm= T))

6

In [56]:
vars <- c("year", "month", "day", "dep_delay", "arr_delay")

allof <-flights %>%
          select(all_of(vars))
head(allof,5)

anyof <- flights %>%
  select(any_of(vars))
head(anyof,5)

print("all of is a stricter function than compared to any of, we use an example below to justify the statement, adding a random name 'lemon', we notice that any_of function still produces the same result in both vars and vars.lemon but all of will throw us an error message if we do so. The functions can be used to display columns of the applied data frame. Note: to run the code please remove the hash")
vars.lemon <- c("year", "month", "day", "dep_delay", "arr_delay","lemon")

#allof.lemon <-flights %>% select(all_of(vars.lemon))


anyof.lemon <- flights %>%
  select(any_of(vars.lemon))
head(anyof.lemon,5)

  year month day dep_delay arr_delay
1 2013 1     1    2         11
2 2013 1     1    4         20
3 2013 1     1    2         33
4 2013 1     1   -1        -18
5 2013 1     1   -6        -25

  year month day dep_delay arr_delay
1 2013 1     1    2         11
2 2013 1     1    4         20
3 2013 1     1    2         33
4 2013 1     1   -1        -18
5 2013 1     1   -6        -25

[1] "all of is a stricter function than compared to any of, we use an example below to justify the statement, adding a random name 'lemon', we notice that any_of function still produces the same result in both vars and vars.lemon but all of will throw us an error message if we do so. The functions can be used to display columns of the applied data frame"

  year month day dep_delay arr_delay
1 2013 1     1    2         11
2 2013 1     1    4         20
3 2013 1     1    2         33
4 2013 1     1   -1        -18
5 2013 1     1   -6        -25

7

In [59]:
flights%>%
 count(carrier, sort = T)

print("we use to count to see the number of occurences of unique values in the data set. Sorting this data allows us to see the largest to the smallest frequency (occurences) of our data")

   carrier n
1  UA      58665
2  B6      54635
3  EV      54173
4  DL      48110
5  AA      32729
6  MQ      26397
7  US      20536
8  9E      18460
9  WN      12275
10 VX       5162
11 FL       3260
12 AS        714
13 F9        685
14 YV        601
15 HA        342
16 OO         32

[1] "we use to count to see the number of occurences of unique values in the data set. Sorting this data allows us to see the largest to the smallest frequency (occurences) of our data"

8

In [74]:
avoid.delay<-flights%>%
  group_by(sched_dep_time)%>%
  mutate(total_delay = dep_delay+arr_delay, .keep = "all")%>%
  summarize(meandelay = mean(total_delay,na.rm= T))%>%
  arrange(meandelay)

head(avoid.delay)

  sched_dep_time meandelay
1  712           -37.15000
2  516           -30.75000
3  626           -29.00000
4 2208           -29.00000
5  555           -27.00000
6  557           -24.66667

9.a

In [77]:
dest_flight <- flights%>%
  mutate(total_delay = dep_delay+arr_delay, .keep = "all")%>%
  group_by(dest)%>%
  summarize(totaldelay = sum(total_delay,na.rm= T))
head(dest_flight,5)

  dest totaldelay
1 ABQ    4603
2 ACK    2983
3 ALB   15819
4 ANC      83
5 ATL  399462

9.b

In [78]:
prop.delay <- flights %>%
  mutate(total_delay = dep_delay+arr_delay, .keep = "all")%>%
  group_by(dest,flight) %>%
  summarize(totaldelay = sum(total_delay,na.rm= T)) %>%
  ungroup() %>%
  group_by(dest) %>% 
  mutate(prop = label_percent(accuracy = 0.01)(totaldelay/sum(totaldelay,na.rm = T)))
head(prop.delay)

`summarise()` has grouped output by 'dest'. You can override using the `.groups` argument.

  dest flight totaldelay prop
1 ABQ    65   1844       40.06%
2 ABQ  1505   2759       59.94%
3 ACK  1191   1257       42.14%
4 ACK  1195     53       1.78%
5 ACK  1291    484       16.23%
6 ACK  1491   1189       39.86%